:root {
  --wordcountcolor: yellow;
}

body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.home {
  display: grid;
  grid-template-areas: "navbar    main    events";
  grid-template-columns: 1.2fr 3fr 1.5fr;
}
.home > * {
  height: 100vh;
}
.home .navbar {
  grid-area: navbar;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  justify-content: space-between;
  align-items: end;
  border-right: 0.1px solid;
  padding-right: 1.5rem;
}
.home .navbar > * {
  margin-right: 1rem;
}
.home .navbar .routes .branding img {
  margin-left: 10px;
  height: 40px;
  margin-top: 0.5rem;
}
.home .navbar .routes .branding img:hover {
  animation: logo-hover infinite 2s;
  transition: all ease-in-out;
}
.home .navbar .routes > :not(:first-child) {
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 9999px;
}
.home .navbar .routes > :not(:first-child) .icon {
  height: 25px;
  margin-right: 1.5rem;
}
.home .navbar .routes .rhome .icon {
  margin-right: 1.2rem !important;
}
.home .navbar .routes button {
  outline: none;
  border: none;
  background-color: #1DA1F2;
  color: white;
  font-size: 18px !important;
  margin-left: 15px;
  width: 100% !important;
  border-radius: 9999px;
  transition: 0.2s ease-in-out;
  margin-top: 1.5rem;
}
.home .navbar .routes button:hover {
  background-color: #0d95e8 !important;
}
.home .navbar .user-flake {
  display: grid;
  grid-template-areas: "user   more";
  grid-template-columns: 2fr 1fr;
  margin-bottom: 0.5rem;
  position: relative;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 100px;
  margin-bottom: 0.1rem;
  margin-right: -0.4rem;
}
.home .navbar .user-flake .user-flake-main {
  grid-area: user;
  display: flex;
}
.home .navbar .user-flake .user-flake-main img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 10px;
  transition: 0.2s ease-in-out;
}
.home .navbar .user-flake .user-flake-main .user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .navbar .user-flake .user-flake-main .user-details .display {
  font-weight: bold;
  font-size: small;
}
.home .navbar .user-flake .user-flake-main .user-details .username {
  font-size: smaller;
}
.home .navbar .user-flake .fmore {
  grid-area: more;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 0.5rem;
}
.home .navbar .user-flake .fmore > * {
  padding: 3px;
  transition: 0.2s ease-in-out;
}
.home .main {
  grid-area: main;
}
.home .events {
  grid-area: events;
}

.more-window {
  position: relative;
  width: 120% !important;
  border-radius: 10px !important;
  margin-bottom: -5.1rem;
  bottom: 6rem;
  left: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  cursor: default !important;
}
.more-window > * {
  position: relative;
  width: 87%;
  font-size: large;
  padding: 10px;
  padding-inline: 16px;
  display: flex;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.more-window .theme-switch {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.more-window .theme-switch .toggle-button {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background-color: #1DA1F2;
  cursor: pointer;
}
.more-window .theme-switch .toggle-button .toggle-indicator {
  transition: 0.2s ease-in-out;
  position: relative;
  left: -1px;
  width: 20px;
  height: 20px;
  background-color: #EBEEF0;
  border-radius: 100%;
}
.more-window .theme-switch .toggle-button .to-dark {
  left: 21px !important;
  background-color: #3A444C;
}
.more-window .log-out {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@keyframes logo-hover {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}
.active-nav {
  color: #1DA1F2;
}

.entry-page {
  width: 100%;
  height: 100vh;
  background-color: #1C2733;
  color: white;
}
.entry-page .entry {
  background-color: black;
  width: 30rem;
  padding-inline: 3rem;
  padding-block: 1rem;
  padding-bottom: 3rem;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.entry-page .entry .text {
  font-size: xx-large;
  font-weight: bold;
}
.entry-page .entry .reg-office {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: center;
}
.entry-page .entry .reg-office > :not(:last-child) {
  margin-bottom: 1rem;
  min-width: 20rem;
}
.entry-page .entry .reg-office .sign-in-btn {
  border: none;
  border-radius: 20px;
  font-size: large;
  padding-block: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  min-width: 20rem;
}
.entry-page .entry .reg-office .sign-in-btn:hover {
  background-color: #d9d9d9;
}
.entry-page .entry .alter-entry {
  color: #495660;
  margin-right: 4.1rem;
}
.entry-page .entry .alter-entry .alter-action {
  color: #1DA1F2;
  cursor: pointer;
}
.entry-page .entry .alter-entry .alter-action:hover {
  text-decoration-line: underline;
}

.hybrid-input {
  font-family: "Inter", sans-serif;
  height: 3rem;
  border: 1px solid #283340;
  border-radius: 5px;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.hybrid-input div {
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 0.8rem;
  color: #3A444C;
  cursor: text;
  transition: 0.2s;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.hybrid-input input {
  background-color: transparent;
  color: white;
  font-size: 18px;
  outline: none;
  border: none;
  height: 0%;
  padding-left: 0.8rem;
  transform: none;
}
.hybrid-input .dont-move-blur {
  color: #3A444C !important;
}
.hybrid-input .show-hide-password {
  margin-top: -15px;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  left: 90%;
  top: -30%;
  cursor: pointer;
  color: #1DA1F2;
  opacity: 0.4;
  transition: opacity 4s;
}
.hybrid-input .show-hide-password:hover {
  transition: none !important;
  opacity: 1;
}
.hybrid-input .hide-password {
  left: 89.5%;
}

.focus-hybrid-input div {
  font-size: 13px;
  color: #1DA1F2;
  height: 30%;
  padding-top: 5px;
}
.focus-hybrid-input div::after {
  content: attr(data-count);
  margin-left: 10px;
  font-size: smaller;
  padding-top: 2px;
  color: var(--wordcountcolor);
}
.focus-hybrid-input input {
  border-color: #1DA1F2;
  height: 70%;
}

.external-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 15rem;
  padding: 2.5rem;
  background-color: black;
  box-shadow: 0px 0px 2.5rem 0.2em #5B7083;
  border-radius: 2rem;
}
.external-modal .title {
  font-size: large;
  font-weight: bold;
  margin-bottom: 1rem;
}
.external-modal button {
  margin-top: 1rem;
  width: 100%;
  border: none;
  border-radius: 20px;
  font-size: large;
  padding-block: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  font-size: medium;
}
.external-modal button:hover {
  background-color: #d9d9d9;
}/*# sourceMappingURL=index.css.map */