@mixin entry {
    width: 100%;
    height: 100vh;
    background-color: $dark2;
    color: white;

    .entry {
        background-color:  black;
        width: 30rem;
        padding-inline: 3rem;
        padding-block: 1rem;
        padding-bottom: 3rem;
        border-radius: 10px;
        text-align: center;

        @include abs-center;
        transform: translate(-50%, -50%);

        @include respondAt($small-width) {
            width: calc(100% - 8rem);
        }

        img {
            height: 50px;
        }

        .text {
            font-size: xx-large;
            font-weight: bold;
        }

        .reg-office {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            align-items: center;

            >:not(:last-child) {
                margin-bottom: 1rem;
                min-width: 20rem;

                @include respondAt($small-width) {
                    width: 60%;
                    min-width: 15rem;
                }
            }

            .sign-in-btn {
                @include std-btn;
                min-width: 20rem;

                @include respondAt($small-width) {
                    width: 60%;
                    min-width: 15rem;
                }
            }
        }

        .alter-entry {
            color: lighten($color: $dark4, $amount: 7);
            margin-right: 4.1rem;

            @include respondAt($small-width) {
                margin-right: 0;
            }
            
            .alter-action {
                color: $primary-blue;
                cursor: pointer;
                &:hover {
                    text-decoration-line: underline;
                }
            }
        }
    }

    .error-modal {
        width: fit-content !important;
        
        .validator-reasons-list {
            .title {
                color: lighten($color: red, $amount: 20)
            }
            .validator-reasons {
                font-size: medium;
                margin-right: 1rem;
                .vali {
                    color: $primary-blue;
                    text-transform: capitalize;
                }

                b {
                    color: lighten($color: red, $amount: 20)
                }

                >* {
                    margin-bottom: 0.5rem;
                    text-transform: lowercase;
                }
            }
        }
    }
}

