@mixin entry {
    width: 100%;
    height: 100vh;
    background-color: $dark2;
    color: white;



    .entry {
        background-color:  black;
        width: 30rem;
        padding-inline: 3rem;
        padding-block: 1rem;
        padding-bottom: 3rem;
        border-radius: 10px;
        text-align: center;

        @include abs-center;
        transform: translate(-50%, -50%);

        .text {
            font-size: xx-large;
            font-weight: bold;
        }

        .reg-office {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            align-items: center;

            >:not(:last-child) {
                margin-bottom: 1rem;
                min-width: 20rem;
            }

            .sign-in-btn {
                @include std-btn;
                min-width: 20rem;
            }
        }

        .alter-entry {
            color: lighten($color: $dark4, $amount: 7);
            margin-right: 4.1rem;
            
            .alter-action {
                color: $primary-blue;
                cursor: pointer;
                &:hover {
                    text-decoration-line: underline;
                }
            }
        }
    }
}

