@mixin no-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

@mixin abs-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin rel-center {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin std-btn {
    border: none;
    border-radius: 20px;
    font-size: large;
    padding-block: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s ease-in-out;

    &:hover {
        background-color: darken($color: white, $amount: 15);
    }
}

@mixin dotdot {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin respondAt($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin respondFrom($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}
