@import "_vars";
@import "_entry";
@import "_mixins";

:root {
    --wordcountcolor: yellow;
}

body {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.home {
    display: grid;
    grid-template-areas: "navbar    main    events";
    grid-template-columns: 1.2fr 3fr 1.5fr;

    > * { height: 100vh }

    .navbar {
        grid-area: navbar;
        height: 100%;

        display: flex;
        flex-direction: column;

        margin-left: 2em;

        justify-content:space-between;     
        align-items: end;

        border-right: 0.1px solid;

        > * {
            margin-right: 1rem;
        }

        padding-right: 1.5rem;

        .routes {
            .branding img {
                margin-left: 10px;
                height: 40px;
                margin-top: 0.5rem ;

                &:hover {
                    animation: logo-hover infinite 2s;
                    transition: all ease-in-out;
                }
            }

            >:not(:first-child) {
                width: fit-content;
                padding: 1rem;

                font-size: 20px;
                font-weight: bold;

                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border-radius: 9999px;
                
                .icon { 
                    height: 25px;
                    margin-right: 1.5rem;
                }
                
            }

            .rhome .icon {
                margin-right: 1.2rem !important;
            }

            button {
                outline: none;
                border: none;
                background-color: $primary_blue;
                color: white;
                font-size: 18px !important;
                margin-left: 15px;
                width: 100% !important;
                border-radius: 9999px;
                transition: 0.2s ease-in-out;
                margin-top: 1.5rem;

                &:hover {
                    background-color: darken($color: $primary_blue, $amount: 5) !important;
                }
            }
        }

        .user-flake {
            display: grid;
            grid-template-areas: "user   more";
            grid-template-columns: 2fr 1fr;
            margin-bottom: 0.5rem;

            position: relative;
            cursor: pointer;

            padding: 0.5rem;
            border-radius: 100px;
            margin-bottom: 0.1rem;
            margin-right: -0.4rem;

            .user-flake-main {
                grid-area: user;
                display: flex;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    margin-right: 10px;

                    transition: 0.2s ease-in-out;
                }

                .user-details {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .display { 
                        font-weight: bold;
                        font-size: small;
                    }
                    .username {
                        font-size: smaller;
                    }
                }
            }
            .fmore {
                grid-area: more;
                display: flex;
                align-items: center;
                justify-content: end;
                margin-right: 0.5rem;

                >* {
                    padding: 3px;
                    transition: 0.2s ease-in-out;
                }   
            }
        }
    }

    .main {
        grid-area: main;
    }

    .events {
        grid-area: events;
    }
}

.more-window {
    position: relative;
    width: 120% !important;

    border-radius: 10px !important;
    margin-bottom: -5.1rem;

    bottom: 6rem;
    left: 0.5rem;

    display: flex;
    flex-direction: column;

    padding: 0 !important;
    cursor: default !important;

    >* {
        position: relative;
        width: 87%;
        font-size: large;
        padding: 10px;
        padding-inline: 16px;
        display: flex;
        cursor: pointer;
        transition: 0.1s ease-in-out;
    }

    .theme-switch {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        cursor: default;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .toggle-button {
            width: 40px;
            height: 20px;
            border-radius: 10px;
            background-color: $primary_blue;
            cursor: pointer;

            .toggle-indicator {
                transition: 0.2s ease-in-out;

                position: relative;
                left: -1px;
                width: 20px;
                height: 20px;
                background-color: $dark7;
                border-radius: 100%;
            }

            .to-dark {
                left: 21px !important;
                background-color: $dark4;
            }
        }
    }

    .log-out {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    
    &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        padding: 9999vh;
    }
}

@keyframes logo-hover {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0);
    }
}

.active-nav {
    color: $primary_blue
}

.entry-page {
    @include entry;
}

.hybrid-input {
    font-family: 'Inter', sans-serif;
    height: 3rem;
    border: 1px solid $dark3;
    border-radius: 5px;
    font-size: 17px;
    
    display: flex;
    flex-direction: column;
    @include no-select;

    div {
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 0.8rem;
        color: $dark4;
        cursor: text;
        transition: 0.2s;
        @include no-select;
    }
    input {
        background-color: transparent;
        color: white;
        font-size: 18px;
        outline: none;
        border: none;
        height: 0%;
        padding-left: 0.8rem;
        transform: none;
    }

    .dont-move-blur {
        color: $dark4 !important;
    }

    .show-hide-password {
      margin-top: -15px;
      width: fit-content;
      position: relative;
      left: 90%;
      top: -30%;
      cursor: pointer;
      color: $primary-blue;
      opacity: 0.4;
      transition: opacity 4s;
      &:hover {
        transition: none !important;
        opacity: 1;
        
      }
    }

    .hide-password {
        left: 89.5%;
    }
}

.focus-hybrid-input {
    div {
        font-size: 13px;
        color: $primary-blue;
        height: 30%;
        padding-top: 5px;
    
        &::after {
            content: attr(data-count);
            margin-left: 10px;
            font-size: smaller;
            padding-top: 2px;
            color: var(--wordcountcolor);
        }
    }
    
    input {
        border-color: $primary-blue;
        height: 70%;
    }
}