@import "_vars";
@import "_entry";
@import "_mixins";
@import "_newLog";
@import "_navbar";

:root {
    --wordcountcolor: yellow;
    --scrolltrack: white;
    --border: #EBEEF0;
    --bg: white;
    --color: white;
    --bghover: #EBEEF0;
    --modalBg: white;
    --hybridTextPlaceholder: #3A444C;
    --bgsyncblacknwhite: white;
}

body {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: var(--bg);
    color: var(--color);
}

.the-app {
    display: flex;
    overflow: hidden;
}

.navbar {
    @include navbar;
}

.home {
    width: 100%;
    /*display: grid;
    grid-template-areas: "main";
    grid-template-columns: 4fr;*/
    
    display: block;
    position: relative;

    .main {
        position: absolute;
        width: 100%;
        height: 100vh;

        @include respondAt($small-width) {
          height: 100svh;
        }
    } 


    > * { 
        height: 100vh;
        
        @include respondAt($small-width) {
            height: 100svh;
        }
    }

    .main {
        grid-area: main;
        border-right: 0.1px solid var(--border);
    }

    /*.events {
        padding: .5rem;
        grid-area: events;
    }*/

    @include respondAt($mid-width) {
        .events {
            position: absolute;
            width: 250px;
            left: calc(100% - 250px);
            padding-inline: 0;
            
            transition: 0.2s ease-in-out;
            
            background-color: var(--bg);
            border-left: 1px solid var(--border);
            box-shadow: 1px 5px 10px 5px var(--bghover);

            >* {
                padding-inline: .5rem;
            }

            .cancelEvents {
                display: flex;
                justify-content: end;

                >* {
                    cursor: pointer;
                }
            }
        }

        .hideEvents {
            left: 100%;
            box-shadow: none;
        }
    }
}

.a-hashtag {
    width: 100%;
    display: grid;
    grid-template-areas: "main    description";
    grid-template-columns: 3fr 1fr;

    > * { height: 100vh }

    .main {
        grid-area: main;
        border-right: 0.1px solid var(--border);
    }

    .topic-about {
        max-width: 17rem;
        grid-area: description;

        padding-inline: 0.5rem;
        padding-top: 1rem;

        .details-card {
            width: 100%;
            background-color: var(--bgsyncblacknwhite);
            padding-bottom: 0.5rem;
            border-radius: 10px;

            >* { margin-inline: 0.5rem; }
            
            .topic-name {
                color: $green;
                font-weight: bold;
                font-size: larger;
                padding-block: 0.5rem;

                @include dotdot;
            }

            .heading {
                color: $primary-blue ;
                font-size: small;
                font-weight: bolder;
                padding-top: 0.2rem;
                padding-bottom: 0.8rem;
            }

            

            .describe {
                >* {
                    display: flex;
                    >* {
                        width: 100%;
                        text-align: center;

                        >* {
                            font-size: 11px;
                            font-weight: bold;
                            color: var(--hybridTextPlaceholder)
                        }
                    }
                }

                .info {
                    padding-bottom: 0.3rem;
                    margin-bottom: 0.3rem;
                    border-bottom: 2px solid var(--border);
                }

                .last-active, .total-logs {
                    border-right: 2px solid var(--border);
                }

            }
        }
    }

    @include respondAt($mid-width) {
        display: block;
        position: relative;
 
        .main {
            position: absolute;
            width: 100%;
            height: 100vh;

            @include respondAt($small-width) {
                height: 100svh;
            }
        }

        .topic-about {
            position: absolute;
            width: 15rem;
            height: fit-content;
            
            padding: 0;
            right: 1.5rem;
            bottom: 1.5rem;

            .details-card {
                background-color: transparent;
                backdrop-filter: blur(80px);
                box-shadow: 0px 0px 20px 0px black;
              
                .topic-name {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-inline-end: .5rem;
                    
                    >:nth-child(2) {
                        color: $primary-blue !important;
                    }
                }
            }
        }

        .topic-about-show {
            animation: open-about 1s ease-in-out;
        }

        .topic-about-hide {
            width: 4rem;
            height: 4rem;
            border-radius: 100%;
            backdrop-filter: blur(10px);
            color: $primary-blue;
            
            font-size: large;

            >:first-child {
                border-radius: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                border: 3px solid var(--border);
            }
        }

        @keyframes open-about {
            0% {
                width: 0;
                height: 0;
            }
            50% {
                height: fit-content;
            }

            100% {
                width: 15rem;
            }
        }
    }
}


.more-window {
    position: absolute;
    width: 10rem !important;

    border-radius: 10px !important;
    margin-bottom: -5.1rem;

    bottom: 10rem;
    left: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-block: 0 !important;
    cursor: default !important;

    z-index: 100;

    @include respondAt($mid-width) {
        left: .6rem;
        padding-inline: 1rem;
    }

    >* {
        width: inherit;
        font-size: large;
        padding: 10px;
        padding-inline: 1rem;
        display: flex;
        cursor: pointer;
        transition: 0.1s ease-in-out;
        font-weight: bold;
    }

    .theme-switch {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        cursor: default;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .toggle-button {
            width: 40px;
            height: 20px;
            border-radius: 10px;
            background-color: $primary_blue;
            cursor: pointer;

            .toggle-indicator {
                transition: 0.2s ease-in-out;

                position: relative;
                left: -1px;
                width: 20px;
                height: 20px;
                background-color: $dark7;
                border-radius: 100%;
            }

            .to-dark {
                left: 21px !important;
                background-color: $dark4;
            }
        }
    }

    .log-out {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    
}

@keyframes logo-hover {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0);
    }
}

.active-nav {
    color: $primary_blue
}

.entry-page {
    @include entry;
}

.hybrid-input {
    font-family: 'Inter', sans-serif;
    height: 3rem;
    border: 2px solid var(--border);
    border-radius: 5px;
    font-size: 17px;
    
    display: flex;
    flex-direction: column;
    @include no-select;

    @include respondAt($small-width) {
        font-size: 15px;
    }

    div {
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 0.8rem;
        color: var(--hybridTextPlaceholder);
        cursor: text;
        transition: 0.2s;
        @include no-select;
    }
    input {
        background-color: transparent;
        color: var(--color);
        font-size: 18px;
        outline: none;
        border: none;
        height: 0%;
        padding-left: 0.8rem;
        transform: none;
    }

    textarea {
        background-color: transparent;
        color: var(--color);
        font-size: 18px;
        outline: none;
        border: none;
        height: 0%;
        padding-left: 0.8rem;
        transform: none;
        font-family: 'Inter', sans-serif;
        resize: none;
        overflow-y: hidden;
    }

    .dont-move-blur {
        color: $dark4 !important;
    }

    .show-hide-password {
      margin-top: -15px;
      width: fit-content;
      position: relative;
      left: 90%;
      top: -30%;
      cursor: pointer;
      color: $primary-blue;
      opacity: 0.4;
      transition: opacity 4s;
      &:hover {
        transition: none !important;
        opacity: 1;
        
      }
    }

    .hide-password {
        left: 89.5%;
    }
}

.focus-hybrid-input {
    div {
        font-size: 13px;
        color: $primary-blue;
        height: 30%;
        padding-top: 5px;
    
        &::after {
            content: attr(data-count);
            margin-left: 10px;
            font-size: smaller;
            padding-top: 2px;
            color: var(--wordcountcolor);
        }
    }
    
    input {
        border-color: $primary-blue;
        height: 70%;
    }

    textarea {
        border-color: $primary-blue;
        height: 70%;
        overflow-y: auto;
    }
}

.external-modal-screen {
    all: unset;
    position: absolute;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.596);
    z-index: 1;

    .external-modal {
        @include abs-center;
        width: 15rem;
        padding: 2.5rem;
        background-color: var(--modalBg);
        box-shadow: 0px 0px 15px 2px $primary-blue;
        border-radius: 2rem;    
 
        @include respondAt($small-width) {
            width: calc(100% - 8rem) !important;
            padding-block: 1.5rem;
            padding-inline: 1rem;
        }

        .title {
            font-size: large;
            font-size: medium;
            font-weight: bold;
        }
    
        .modal-input-wrapper {
            margin-block: 1rem;
        }
    
        button {
            margin-top: 1rem;
            width: 100%;
            @include std-btn;
            font-size: small
        }
    }
}

.loadscreen {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.767);
    width: 100%;
    height: 100vh;
    z-index: 1001;

    .loader-path {
        @include abs-center;
        width: 80px;
        height: 80px;
        border: 3px solid white;
        border-radius: 100%;
    }

    .loader-tail {
        @include abs-center;
        width: 80px;
        height: 80px;
        border-top: 6px solid $primary-blue;
        border-radius: 100%;
        animation: bufferLoader 0.3s linear infinite;
    }
}

@keyframes bufferLoader {
    from {
        transform: translate(-50%, -50%)
            rotate(0deg);
    } to {
        transform: translate(-50%, -50%)
            rotate(360deg);
    }
}

.hybrid-img {
    width: 40px;
    height: 40px;
    border-radius: 100%;

    transition: 0.2s ease-in-out;
    cursor: pointer;
    border: 2px solid $primary-blue;

    &:hover {
        box-shadow: 0 0 4px 1px $primary-blue;
    }
}

.tweet {
    border: 1px solid var(--border);
    border-left: none;
    border-right: none;
    margin-bottom: 1px;

    display: flex;
    padding-inline: 0.8rem;
    padding-block: 0.5rem;

    @include respondAt($small-width) {
        padding-inline: 0.5rem;
    }

    @include respondFrom($small-width) {
        &:hover {
            background-color: var(--bghover);
        }
    }

    .user-pfp {
        width: 5%;
        min-width: 3rem;
        img {
            border: none !important;
        }
    }

    .tweet-body {
        width: 100%;
        padding-right: 5px;

        .names-nd-time {
            display: flex;
            margin-bottom: 0.3rem;

            >:not(:last-child) {
                margin-right: 0.3rem;
            }
            >:not(:first-child) {
                color: lighten($color: $dark5, $amount: 5)
            }
            .display {
                max-width: 10rem;
                font-weight: bold;
                @include dotdot;
            }
            .username {
                max-width: 10rem;
                @include dotdot;
                &::before {
                    content: "@";
                }
            }
        }

        .text {
            word-break: break-word;
        }

        .hashtag {
            margin-top: 0.3rem;
            font-size: 15px;
            color: $green;
            &::before { 
                content: '#';
            }
            width: fit-content;
            cursor: pointer;
            &:hover {
                text-decoration-line: underline;
            }
        }        
    }
    
    .like {
        @include no-select;
        width: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        
        .heart {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-size: large;

            &:hover {
                svg {
                    fill: $heart;
                }
            }

            .liked {
                color: $heart;
            }
            svg {
                transition: 0.2s ease-in-out;
                fill: $dark5;
            }
        }
        .count {
            font-size: small;
            color: $heart;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.create-new-log {
    @include newLog;
}

.all-logs-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: larger;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    font-weight: bold;

    span {
        cursor: pointer;
    }
}
.all-logs-title-hastag {
    color: $green;
    &::before { content: "#"; };
}
.all-logs {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    >* {
        border-bottom: none;
    }
    >:last-child {
        border-bottom: 1px solid var(--border) !important;
        margin-bottom: 3rem;
    }

    .load-more-logs {
        height: 2rem;

        .loader {
            width: 15px;
            height: 15px;
            @include rel-center;

            border-left: 1px solid var(--color);
            border-top: 1px solid var(--color);
            border-radius: 100%;

            animation: bufferLoader 0.3s linear infinite; 
        }
    }
}
.all-logs-for-hashtag {
    >:last-child {
        margin-bottom: 0rem !important;
    }
}

@include respondFrom($small-width) {
    ::-webkit-scrollbar {
        width: 5px;
    }
    ::-webkit-scrollbar-track {
        background: var(--scrolltrack);
    }
    ::-webkit-scrollbar-thumb {
        background: #1DA1F2;
    }
}

a {
    color: $primary-blue;
    text-decoration-line: none;
    &:hover {
        text-decoration-line: underline;
        color: darken($color: $primary-blue, $amount: 5);
    }
}

p {
    margin: 0;
    padding: 0;
}

b {
    color: lighten($color: red, $amount: 10);
    @include no-select;
}

.backdrop-blur {
    backdrop-filter: blur(8px);
}

div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

